<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer 
            class="sidenav" 
            fixedInViewport 
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
            <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
            <a mat-list-item routerLink="/users" (click)="drawer.close()">Users Demo</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <!-- Menu Button for Side Nav - Handset View-->
            <button 
                type="button"
                aria-label="Toggle sidenav" 
                mat-icon-button 
                (click)="drawer.toggle()" 
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <!-- Toolbar Logo -->
            <span class="logo" routerLink="/">🚀 Angular Firebase Project</span>
            <span class="fill-space"></span>

            <!-- Toolbar options for - Desktop view -->
            <span *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/kanban" class="anchor-button">📚 Kanban Demo</a>
                <a mat-button routerLink="/kanban" class="anchor-button">⚡️ Users Demo</a>
                <a mat-button routerLink="/kanban" class="anchor-button">🔐 Login</a>
            </span>

            <!-- DropDown Menu -->
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon Button Menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <!-- Three ... DropDown vertical menu -->
            <mat-menu #menu="matMenu">
                <a mat-menu-item href="https://www.linkedin.com/in/venkateshnagireddy/">
                    <i>👉</i>
                    <span>Connect on Linkedin</span>
                </a>
                <a mat-menu-item href="https://github.com/v3nk3y">
                    <i>👾</i>
                    <span>Follow on Github</span>
                </a>
                <a mat-menu-item href="https://www.linkedin.com/in/venkateshnagireddy/">
                    <i>💬</i>
                    <span>Chat on Discord</span>
                </a>
            </mat-menu>
        </mat-toolbar>
        
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>